  /*post-index メイン画面*/

.post-index-grid {
  width: 65%;
  float: left;
  margin: 30px 0;
}

.post-index-main {
  width: 100%;
  padding-top: 60px;
/*  background-color: #fafafa;*/
  height: 100vh;
  background-image: url("181027_264.jpg");
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  &__transparent {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    overflow: auto;
    padding-left: 80px;
  }
  &__body {
    margin-top: 10px;
    border-radius: 6px;
    & img {
      border-radius: 5%;
      margin: 10px;
    }
    &__comment {
      font-weight: bold;
    }
    &__footer {
      padding: 3px 20px !important;
      &__name {
        margin-left: 10px;
        font-size: 15px;
        text-decoration: none;
      }
      &__date {
        margin: 0 20px 0 10px;
        font-size: 13px;
      }
      &__icon {
        margin-left: 10px;
      }
      &__icon-heart {
        margin-left: 10px;
        cursor: pointer;
      }
      &__icon-favorited {
        margin-left: 10px;
        cursor: pointer;
        color: red;
      }
      &__icon-count {
        margin-right: 10px;
      }
      &__comment {
        margin: 0 20px 0 10px;
      }
      &__edit {
        margin: 0 10px;
      }
    }
  }
}




  /*post-new メイン画面*/

.post-new {
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  &__title {
    margin: 40px 0 20px 0;
    &__icon {
      font-style: italic;
    }
    &__text {
      font-size: 30px;
      font-weight: bold;
      font-style: italic;
      margin-left: 5px;
    }
  }
  &__textarea::placeholder {
    font-size: 20px;
  }
  &__file-field {
    margin: 10px 0;
    &__outputImage {
      /*height: 166px;*/
      width: 250px;
      border: solid 1px #dddddd;
      margin-bottom: 10px;
      border-radius: 5px;
      & img {
        border-radius: 5px;
      }
    }
    &__icon {
      padding: 60px  0 60px 100px;
    }
  }
  &__button {
    margin-top: 10px;
  }
}



  /*post-show メイン画面*/

.post-show-grid {
  width: 65%;
  float: left;
  margin: 30px 0;
  padding-left: 80px;
}

.post-show-main {
  width: 100%;
  padding-top: 60px;
  height: 100vh;
  background-color: #fafafa;
  box-sizing: border-box;
  overflow: scroll;
  &__title {
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 10px;
  }
  &__body {
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 6px;
    & img {
      border-radius: 5%;
      margin: 10px;
    }
    &__name-date {
      margin-right: 10px;
      font-size: 14px;
    }
    &__comment {
      font-weight: bold;
    }
    &__footer {
      padding: 3px 20px !important;
      &__name {
        margin-left: 10px;
        font-size: 15px;
        text-decoration: none;
      }
      &__date {
        margin: 0 20px 0 10px;
        font-size: 13px;
      }
      &__icon {
        margin-left: 10px;
      }
      &__icon-heart {
        margin-left: 10px;
        cursor: pointer;
      }
      &__icon-favorited {
        margin-left: 10px;
        cursor: pointer;
        color: red;
      }
      &__icon-count {
        margin-right: 10px;
      }
      &__comment {
        margin: 0 20px 0 10px;
      }
      &__edit {
        margin: 0 10px;
      }
    }
  }
  &__textarea::placeholder {
    font-size: 15px;
  }
  &__comment-box {
    display: none;
  }
  &__comment {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
  }
}


  /*post-edit メイン画面*/

.post-edit {
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
}

  /*サイドバー*/

.side-grid {
  width: 25%;
  float: left;
  margin-top: 40px;
}

.side__body {
  box-sizing: border-box;
  margin-left: 30px;
  border-radius: 6px;
  &__comment {
    &__next {
      font-weight: bold;
      font-size: 20px;
      font-style: italic;
      &__icon {
        margin-left: 20px;
      }
    }
    &__team {
      font-weight: bold;
      text-align: center;
    }
    &__date {
      font-weight: bold;
      text-align: center;
    }
    &__place {
      font-weight: bold;
      text-align: center;
    }
  }
}
