// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-index-main-back {
  width: 100%;
  padding-top: 60px;
  height: 100vh;
  background-color: #eeeeee;
  overflow: scroll;
  box-sizing: border-box;
  overflow: auto;
  &__title {
    margin-left: 80px;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 10px;
  }
}
